.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.select {
  background-color: var(--color-bg-main);
  color: var(--color-text);
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  width: max-content;
  padding: 6px 12px;
  border-radius: 6px;
}

.resp-viewer {
  background: var(--color-resp-bg);
  border-radius: 8px;
  overflow: hidden;
  font-family: var(--font-fira-code);
  font-size: 1rem;
  color: var(--color-text);
  border: 0.1px solid var(--color-resp-brdr);
}

.resp-editor-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.status {
  position: absolute;
  top: 0;
  left: 100px;

  &.valid {
    color: var(--color-status-green);
  }

  &.invalid {
    color: var(--color-status-red);
  }
}

.resp-line-numbers {
  background-color: var(--color-resp-line-bg);
  padding: 0.5rem;
  text-align: center;
  margin: 1rem 0 1rem 1rem;
}

.resp-line-number {
  min-width: 2rem;
  line-height: 1.5;
  text-align: center;
  color: var(--color-resp-text);
}

.resp-textarea {
  flex: 1;
  background-color: transparent;
  border: none;
  resize: none;
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 1.5;
  outline: none;
  white-space: pre;
  overflow: auto;
  margin: 1rem 1rem 1rem 0;
}
