.container {
  display: flex;
  flex-direction: column;
}

.query {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  margin: 0.5rem 1rem 0 1rem;
  overflow: hidden;
}

.body {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 1rem;

  & > button {
    cursor: pointer;
    color: var(--color-text-btn);
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0px 8px 8px 2px var(--color-shadow);
    transition: all 0.2s ease-in-out;

    &:active {
      box-shadow: none;
    }

    &.active {
      color: var(--color-text-btn-active);
      border-color: var(--color-text-btn-active);
      transform: scale(1.05);
    }
  }
}

.content {
  flex-grow: 1;
  overflow: auto;
  margin: 0.5rem 1rem;
  border: 0.1px solid var(--color-text);
  border-radius: 8px;
  box-shadow: 0px 0px 30px var(--color-shadow);
}

.buttons {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  color: var(--color-text-btn);
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0px 8px 8px 2px var(--color-shadow);
  font-size: 1rem;
  height: 2.5rem;
  align-content: center;
  transition: box-shadow 0.2s ease-in-out;

  &:active {
    box-shadow: none;
  }
}