.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto 2rem;
  max-width: calc(100% - 2rem);
  padding: 2rem;
  border: 1px solid var(--color-text);
  border-radius: 8px;
  background-color: var(--color-bg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 100%;

  .method {
    min-width: 80px;
    border: 0.1px solid var(--color-text);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }

  .url {
    width: 100%;
    background-color: var(--color-input);
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 5px;
    border-bottom: 0.1px solid var(--color-text);
    overflow-x: auto;
    white-space: nowrap;
  }
}

.btn {
  cursor: pointer;
  color: var(--color-text-btn);
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
  border-radius: 4px;
  padding: 8px 16px;
  margin: 5px;
  box-shadow: 0px 8px 8px 2px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  text-align: center;

  &:active {
    box-shadow: none;
  }
}
