.welcome {
  background: var(--color-text-link);
  color: var(--color-text-welcome);
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.welcome h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.welcome p {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}

.section {
  padding: 4rem 2rem;
  max-width: 960px;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px var(--card-shadow);
  transition: transform 0.2s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.feature h3 {
  color: var(--primary-member-text);
  align-self: center;
}

.feature img {
  width: 25px;
  height: auto;
}

.feature p {
  color: var(--color-text-main);
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.member {
  width: 240px;
  height: 200px;
  perspective: 1000px;
}

.member-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.member:hover .member-inner {
  transform: rotateY(180deg);
}

.member-front,
.member-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-front {
  background: white;
}

.member-front img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.member-front h3 {
  color: var(--color-text-main);
}

.member-back {
  background: #fff;
  transform: rotateY(180deg);
}

.member-back h3 {
  color: var(--primary-member-text);
  margin-bottom: 0.5rem;
}

.member-back p {
  color: var(--color-text-main);
  text-align: center;
}
