.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
  box-shadow: 0 4px 8px var(--color-shadow);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-text-btn-active);
    color: #fff;
    border-color: var(--color-text-btn-active);
    transform: translateY(-2px);
    box-shadow: 0 6px 14px var(--color-shadow);
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px var(--color-shadow);
  }
}
