.resp-viewer {
  position: relative;
  display: flex;
  background-color: var(--color-resp-bg);
  color: var(--color-resp-text);
  border-radius: 8px;
  border: 0.1px solid var(--color-resp-brdr);
  font-size: 1rem;
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

.resp-copy-wrapper {
  position: absolute;
  top: 8px;
  right: 12px;
}

.resp-copy-btn {
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
  border: none;
  color: var(--color-resp-copy-btn);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.resp-copy-btn:hover {
  transform: scale(1.1);
}

.resp-copy-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.resp-line-number {
  background-color: var(--color-resp-line-bg);
  user-select: none;
  display: inline-block;
  margin: 0 0.5rem;
}

.resp-code-line {
  display: flex;
  font-family: var(--font-fira-code);
  font-size: 1rem;
}

.resp-line-number {
  min-width: 2.5rem;
  text-align: center;
  margin-right: 0.5rem;
  background-color: var(--color-resp-line-bg);
  font-family: inherit;
}

.resp-line-text {
  white-space: pre-wrap;
  font-family: inherit;
}
