.resp-viewer {
    position: relative;
display: flex;
background-color: var(--color-resp-bg);
color: var(--color-resp-text);
border-radius: 8px;
border: 1px solid var(--color-resp-brdr);
font-family: 'Fira Code', monospace;
font-size: 14px;
width: 100%;
overflow-x: auto;
padding: 1rem;
}

.resp-copy-wrapper {
  position: absolute;
  top: 8px;
  right: 12px;
}

.resp-copy-btn {
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
  border: none;
  color: var(--color-resp-copy-btn);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.resp-copy-btn:hover {
    transform: scale(1.1);
}

.resp-copy-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.resp-line-numbers {
background-color: var(--color-resp-line-bg);
text-align: right;
user-select: none;
}

.resp-line-number {
line-height: 1.5;
padding-left: 1rem;
}

.resp-code-block {
white-space: pre-wrap;
}

.resp-code-line {
line-height: 1.5;
}
