.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #1f2937;
  color: #d1d5db;
  padding: 1rem;
}


.logo {
  width: 40px;
  background: #000;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  color: #ffffff;
  background-color: #60a5fa;
  border: 1px solid #d1d5db;

  border-radius: 4px;
  padding: 8px 16px;
  margin: 5px;
}