.light {
  --color-fon: #ffffff;
  --color-bg: #d8d8d8;
  --color-bg-main: #f9f9f9;
  --color-text: #3d3e41;
  --color-text-btn: #7c4f01;
  --color-text-link: #303337;
  --color-text-hover: #60a5fa;
  --color-border: #b5becc;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-bg-sticky: red;
  --color-text-sticky: #fff;
}

.dark {
  --color-fon: #5d5d5d;
  --color-bg: #1f2937;
  --color-bg-main: #465262;
  --color-text: #e4e8ee;
  --color-text-btn: #ffc261;
  --color-text-link: #9ca3af;
  --color-text-hover: #60a5fa;
  --color-border: #374151;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-bg-sticky: blue;
  --color-text-sticky: #fff;
}

body {
  background-color: var(--color-fon);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
