.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.heder {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  background: var(--color-bg);
}

.body {
  display: flex;

  & > button {
    cursor: pointer;
    color: var(--color-text-btn);
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    border-radius: 4px;
    padding: 8px 16px;
    margin: 5px;
    box-shadow: 0px 8px 8px 2px var(--color-shadow);
    transition: all 0.2s ease-in-out;

    &:active {
      box-shadow: none;
    }

    &.active {
      color: var(--color-text-btn-active);
      border-color: var(--color-text-btn-active);
      transform: scale(1.05);
    }
  }
}

.pre {
  font-family: var(--font-geist-mono);
}

.content {
  flex-grow: 1;
  overflow: auto;
  margin: 20px;
  // padding: 20px;
  border: 0.1px solid var(--color-text);
  border-radius: 8px;
  box-shadow: 0px 0px 30px var(--color-shadow);
}
